.App {
  position: relative;
  text-align: center;
}

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 40vmin;
//   pointer-events: none;
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

.btn {
  border: none;
  border-radius: 10px;
  background: #FD6592;
  color: #fff;
  cursor: pointer;
  height: 40px;
  margin: 15px auto;
  text-transform: uppercase;
  width: 150px;
  &:disabled {
    opacity: 0.8;
  }
}

.indications {
  font-size: 18px;
}

#welcomeSection {
  align-items: center;
  background: #3E4FA5;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  .infoContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    padding: 25px;
    width: 100%;
    h2 {
      font-size: 30px;
      margin: 0;
    }
    .formFake {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 300px;
      margin-top: 15px;
      min-height: 80px;
      width: 100%;
      input {
        border-radius: 5px;
        border: none;
        font-size: 16px;
        height: 30px;
        margin: 10px 0;
        padding: 0 10px;
      }
    }
  }
}

#categories {
  align-items: center;
  background: #3E4FA5;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  .rankingContainer {
    max-width: 600px;
    padding: 25px;
    width: 100%;
    .categoriesContainer {
      display:flex;
      justify-content:center;
      flex-wrap: wrap;
      .categoria {
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        border: 2px solid #fff;
        height: 200px;
        margin: 15px;
        position: relative;
        width: 200px;
        &.selected {
          &:after {
            color: #fff;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            text-align: left;
            width: 100%;
          }
          &.position-1 {
            &:after {
              content: '1';
              background: rgba(0, 0, 0, 0.7) url('./loved.png');
              background-size: 50%;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
          &.position-2 {
            &:after {
              content: '2';
              background: rgba(0, 0, 0, 0.7) url('./neutral.png');
              background-size: 50%;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
          &.position-3 {
            &:after {
              content: '3';
              background: rgba(0, 0, 0, 0.7) url('./sad.png');
              background-size: 50%;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #categories {
    // height: 100%;
    .rankingContainer {
      .categoriesContainer {
        .categoria {
          height: 140px;
          margin: 9px;
          width: 140px;
        }
      }
    }
  }
}
