.App {
  position: relative;
  text-align: center;
  width: 100%;
}

#root{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.btn {
  border: none;
  border-radius: 10px;
  background: #FD6592;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  margin: 15px auto;
  text-transform: uppercase;
  width: 150px;
  &:disabled {
    opacity: 0.8;
  }
}

.indications {
  font-size: 18px;
  font-weight: 400;
}

#welcomeSection {
  align-items: center;
  background: #3E4FA5;
  color: #fff;
  display: flex;
  // height: inherit;
  height: 100%;
  justify-content: center;
  width: 100%;
  .infoContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    padding: 25px;
    width: 100%;
    h2 {
      font-size: 30px;
      margin: 0;
    }
    .formFake {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 300px;
      margin-top: 15px;
      min-height: 80px;
      width: 100%;
      input {
        border-radius: 5px;
        border: none;
        font-size: 16px;
        height: 30px;
        margin: 10px 0;
        padding: 0 10px;
      }
    }
  }
}

#categories {
  align-items: center;
  background: #3E4FA5;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  .rankingContainer {
    max-width: 600px;
    padding: 25px;
    width: 100%;
    .categoriesContainer {
      display:flex;
      justify-content:center;
      flex-wrap: wrap;
      .categoria {
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        border: 2px solid #fff;
        height: 200px;
        margin: 15px;
        position: relative;
        width: 200px;
        .rank {
          color: #3E4FA5;
          height: 100%;
          width: 100%;
          &.selected {
            font-size: 16px;
            font-weight: 500;
            &.position-1 {
              background: rgba(0, 0, 0, 0.7) url('./loved.png');
              background-size: 50%;
              background-position: center;
              background-repeat: no-repeat;
              &::before{
                content: '';
                position: absolute;
                left: 0;
                width: 0;
                height: 0;
                border-right: 30px solid transparent;
                border-top: 30px solid #E3E9F5;
                border-left: 30px solid #E3E9F5;
                border-bottom: 30px solid transparent;
                padding: 0;
              }
              &:after {
                align-items: center;
                justify-content: center;
                display: flex;
                content: '1';
                height: 35px;
                left: 0;
                position: absolute;
                width: 35px;
              }
            }
            &.position-2 {
              background: rgba(0, 0, 0, 0.7) url('./neutral.png');
              background-size: 50%;
              background-position: center;
              background-repeat: no-repeat;
              &::before{
                content: '';
                position: absolute;
                left: 0;
                width: 0;
                height: 0;
                border-right: 30px solid transparent;
                border-top: 30px solid #E3E9F5;
                border-left: 30px solid #E3E9F5;
                border-bottom: 30px solid transparent;
                padding: 0;
              }
              &:after {
                align-items: center;
                justify-content: center;
                display: flex;
                content: '2';
                height: 35px;
                left: 0;
                position: absolute;
                width: 35px;
              }
            }
            &.position-3 {
              background: rgba(0, 0, 0, 0.7) url('./sad.png');
              background-size: 50%;
              background-position: center;
              background-repeat: no-repeat;
              &::before{
                content: '';
                position: absolute;
                left: 0;
                width: 0;
                height: 0;
                border-right: 30px solid transparent;
                border-top: 30px solid #E3E9F5;
                border-left: 30px solid #E3E9F5;
                border-bottom: 30px solid transparent;
                padding: 0;
              }
              &:after {
                align-items: center;
                justify-content: center;
                display: flex;
                content: '3';
                height: 35px;
                left: 0;
                position: absolute;
                width: 35px;
              }
            }
          }
        }
      }
    }
  }
}

#thanks {
  align-items: center;
  background: #3E4FA5;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  .message {
    max-width: 600px;
    padding: 25px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  #categories {
    // height: auto;
    .rankingContainer {
      .categoriesContainer {
        .categoria {
          height: 180px;
          margin: 9px;
          width: 180px;
        }
      }
    }
  }
}
